<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand">
        <h1 class="homeTittle">
            <a href="" class="navButton"> Recip</a>Now!
        </h1>
        </p>


        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">

                <div class="dropdown">
                    <a class="m-2 btn btn-outline-dark navButton dropdown-toggle " href="#" role="button"
                        id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        settings
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#">My profile</a>
                        <a class="dropdown-item" href="#">Log Out</a>
                    </div>
                </div>


                <button type="button" class="m-2 btn btn-outline-dark navButton" data-toggle="modal"
                    data-target="#exampleModal">
                    Log Out
                </button>



            </div>
        </div>
    </div>
</nav>

<!-- jumbotron -->

<div class="jumbotron jumbotron-fluid mb-5 d-flex justify-content-center jumbotron-billboard">
    <div class="input-group  w-50 ">
        <input class="form-control form-control-lg rounded-start" type="text" placeholder="Search Recipe Here">
        <button class="btn btn-success rounded-end " type="button" id="button-addon2">Search</button>
    </div>
</div>
<div>
    {{results}}
</div>



<!-- footer -->

<footer class="page-footer font-small blue d-flex justify-content-center footer">
    <div class="footerBottom py-3">
        <p class="footerColor"> Made by Group Two</p>
</footer>