<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
        <h1 class="homeTittle">
            <a href="" class="navButton"> Recip</a>Now!
        </h1>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">


                <a href="#">
                    <img alt="profilepic" src="/assets/pictures/avatar-gratuit.png" width="75" height="50">
                </a>

                <a href="/logout"><button class=" m-2 btn btn-outline-dark navButton">Log
                        Out</button></a>

            </div>
        </div>
    </div>
</nav>

{{!-- Welcome card --}}
<div class="card mt-3 text-white">
    <div class="card-body">
        <h3>Welcome: {{username}}</h3>
    </div>
</div>

{{!-- Insert New Recipe --}}
<div class="card mt-3">
    <div class="card-body">


        <form>

            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="text-white">Recipe Name:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1 ingredients" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="text-white">Ingredients:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1 ingredients" rows="3"></textarea>
            </div>

            <div class="form-group">
                <label for="exampleFormControlTextarea1" class="text-white">Instructions:</label>
                <textarea class="form-control" id=" exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <button type="submit" class="btn btn-outline-success saveButton">Save</button>
        </form>
    </div>
</div>

{{!-- Handlebars Recipes (CRUD) --}}
{{#each recipes}}
<div class="card mt-3">
    <div class="card-body">
        <h3 class="text-white">Edit Recipe:</h3>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="text-white">Recipe Name:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1 ingredients"
                            rows="1">{{name}}</textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="text-white">Ingredients:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1 ingredients"
                            rows="3">{{ingredient}}</textarea>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" class="text-white">Instructions:</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1 ingredients"
                            rows="3">{{instruction}}</textarea>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-outline-success mr-5 mb-5 updateButton">Update</button>
                <button type="button" class="btn btn-outline-danger mr-5 mb-5 deleteButton">Delete</button>
            </div>
        </div>
    </div>
</div>
{{/each}}

<footer class="page-footer font-small footerColor d-flex justify-content-center">

    <div class="footerBottom py-3">

        <p> Made By Group Two</p>

</footer>