body {
    background-color: rgb(52, 58, 64);
  }

  .jumbotron-billboard .image {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("./pictures/jumbotron3952055.jpg") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .jumbotron h2 {
    margin-top: 0;
  }

  .jumbotron {
    position: relative;
    padding-top:50px;
padding-bottom:50px;
  }

  .jumbotron .container {
    position: relative;
    z-index: 2;
  }



  /* Profile Page CSS */


  body{
    padding:50px;
    
  }
  .wrapper{
    width:70%;
  }

  
  .panel-heading {
    padding: 0;
    border:0;
  }
  .panel-title>a, .panel-title>a:active{
    display:block;
    padding:15px;
    color:#555;
    font-size:16px;
    font-weight:bold;
    text-transform:uppercase;
    letter-spacing:1px;
    word-spacing:3px;
    text-decoration:none;
  }
  .panel-heading  a:before {
     font-family: 'Glyphicons Halflings';
     content: "\e114";
     float: right;
     transition: all 0.5s;
  }
  .panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
  } 


